<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="alert alert-success" *ngIf="success">
          <p>{{ success }}</p>
        </div>
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <span *ngIf="
        registerForm?.controls?.name?.errors?.required &&
        (registerForm?.controls?.name?.touched ||
        registerForm?.controls?.name?.dirty)
        " class="">
          This field is required
      </span>
      <span *ngIf="
        registerForm?.controls?.name?.errors?.pattern &&
        (registerForm?.controls?.name?.touched ||
        registerForm?.controls?.name?.dirty)
        " class="">
          Invalid name
      </span>

      <div class="form-group">
        <label for="email">E-Mail</label>
        <input type="text" id="email" formControlName="email" class="form-control">
      </div>
      <span *ngIf="
        registerForm?.controls?.email?.errors?.required &&
        (registerForm?.controls?.email?.touched ||
        registerForm?.controls?.email?.dirty)
        " class="">
          This field is required
      </span>
      <span *ngIf="
        registerForm?.controls?.email?.errors?.email &&
        (registerForm?.controls?.email?.touched ||
        registerForm?.controls?.email?.dirty)
        " class="">
        Invalid email
      </span>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control">
      </div>

      <span *ngIf="
        registerForm?.controls?.password?.errors?.required &&
        (registerForm?.controls?.password?.touched || 
        registerForm?.controls?.password?.dirty)" class="">
        This field is required
      </span>
      <span *ngIf="
        registerForm?.controls?.password?.errors?.pattern &&
        !registerForm?.controls?.password?.errors?.minlength &&
        (registerForm?.controls?.password?.touched ||
        registerForm?.controls?.password?.dirty)" class="">
          Invalid Password
      </span>
      <span *ngIf="
        registerForm?.controls?.password?.errors?.minlength &&
        (registerForm?.controls?.password?.touched ||
        registerForm?.controls?.password?.dirty)" class="">
          Password must be at least 6 characters long.
      </span>

      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" formControlName="confirm_password" class="form-control">
      </div>
      <span *ngIf="
        registerForm?.controls?.confirm_password?.errors?.required &&
        (registerForm?.controls?.confirm_password?.touched || 
        registerForm?.controls?.confirm_password?.dirty)" class="">
          This field is required
      </span>
      <span *ngIf="
        registerForm?.errors?.mismatch &&
        (registerForm?.controls?.confirm_password?.touched || 
        registerForm?.controls?.confirm_password?.dirty)" class="">
          Password do not match
      </span>

      <div>
        <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">
          Register
        </button>
      </div>
    </form>
  </div>
</div>