<div class="row">
  <div class="alert alert-danger" *ngIf="error">
    <p>{{ error }}</p>
  </div>

  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
</div>

<div class="row" *ngIf="!isLoading && !error">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewPost()">New Post</button>
  </div>
  <hr>

  <div class="col-xs-12" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
    <app-post-item *ngFor="let postEl of posts;" [post]="postEl">
    </app-post-item>
  </div>
</div>