<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading && !error">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <span *ngIf="
        postForm?.controls?.name?.errors?.required &&
        (postForm?.controls?.name?.touched ||
        postForm?.controls?.name?.dirty)
        " class="">
        This field is required
      </span>
      <span *ngIf="
        postForm?.controls?.name?.errors?.pattern &&
        (postForm?.controls?.name?.touched ||
        postForm?.controls?.name?.dirty)
        " class="">
        Invalid name
      </span>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" id="description" class="form-control" formControlName="description" rows="6"></textarea>
      </div>
      <span *ngIf="
        postForm?.controls?.description?.errors?.required &&
        (postForm?.controls?.description?.touched ||
        postForm?.controls?.description?.dirty)
        " class="">
        This field is required
      </span>

      <div class="form-group">
        <label for="imagePath">Image URL</label>
        <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath>
      </div>
      <span *ngIf="
        postForm?.controls?.imagePath?.errors?.required &&
        (postForm?.controls?.imagePath?.touched ||
        postForm?.controls?.imagePath?.dirty)
        " class="">
        This field is required
      </span>
      <span *ngIf="
        postForm?.controls?.imagePath?.errors?.pattern &&
        (postForm?.controls?.imagePath?.touched ||
        postForm?.controls?.imagePath?.dirty)
        " class="">
        Invalid url
      </span>

      <div class="row">
        <div class="col-xs-12">
          <img *ngIf="imagePath.value" [src]="imagePath.value" class="img-responsive" width="250">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!postForm.valid">Save</button>
          |
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>