<app-header></app-header>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-success" *ngIf="success">
      <p>{{ success }}</p>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">

      <!-- <div class="form-group">
        <input type="hidden" formControlName="email">
      </div> -->

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control">
      </div>

      <span *ngIf="
      changePasswordForm?.controls?.password?.errors?.required &&
        (changePasswordForm?.controls?.password?.touched || 
        changePasswordForm?.controls?.password?.dirty)" class="">
        This field is required
      </span>
      <span *ngIf="
        changePasswordForm?.controls?.password?.errors?.pattern &&
        !changePasswordForm?.controls?.password?.errors?.minlength &&
        (changePasswordForm?.controls?.password?.touched ||
        changePasswordForm?.controls?.password?.dirty)" class="">
        Invalid Password
      </span>
      <span *ngIf="
        changePasswordForm?.controls?.password?.errors?.minlength &&
        (changePasswordForm?.controls?.password?.touched ||
        changePasswordForm?.controls?.password?.dirty)" class="">
        Password must be at least 6 characters long.
      </span>

      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" id="confirm_password" formControlName="confirm_password" class="form-control">
      </div>

      <span *ngIf="
        changePasswordForm?.controls?.confirm_password?.errors?.required &&
        (changePasswordForm?.controls?.confirm_password?.touched || 
        changePasswordForm?.controls?.confirm_password?.dirty)" class="">
        This field is required
      </span>
      <span *ngIf="
        changePasswordForm?.errors?.mismatch &&
        (changePasswordForm?.controls?.confirm_password?.touched || 
        changePasswordForm?.controls?.confirm_password?.dirty)" class="">
        Password do not match
      </span>

      <div>
        <button class="btn btn-primary" type="submit" [disabled]="!changePasswordForm.valid">
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>